form {
    width: 20%;
    padding: 15px;
}

form div {
    padding: 10px 15px;
}
form input {
    min-width: 100%;
}
form input[type=text], form input[type=password] {
    padding: 10px 15px;
}

input[type=submit] {
    padding: 10px;
    min-width: 100%;
}
