{% extends "layouts/main.html.twig" %}

{% block title %}Contact{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>Тут контент страницы {{ title }}</p>
{% endblock %}
